/IOS_CODE/Nali/.idea/*
IOS_CODE/Nali/Nali.xcodeproj/project.xcworkspace/xcuserdata/eknox.xcuserdatad/xcschemes/xcschememanagement.plist
IOS_CODE/Nali/Nali.xcodeproj/xcuserdata/eknox.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
